<query-editor-row query-ctrl="ctrl" class="generic-datasource-query-row">
	<ul class="tight-form-list" ng-hide="ctrl.target.rawQuery">
		<li class="tight-form-item query-keyword">
			Metric
		</li>
		<li>
      <metric-segment-model property="ctrl.target.metric" get-options="ctrl.getOptions()"
                          on-change="" css-class=""></metric-segment-model>
		</li>
		<li class="tight-form-item query-keyword">
			Source
		</li>
		<li>
			<metric-segment-model property="ctrl.target.source" get-options="ctrl.getSources()"
		                      on-change="ctrl.onChangeInternal()" css-class=""></metric-segment-model>
		</li>

	</ul>
</query-editor-row>
